env/
venv/
.venv/
data/
reports/
__pycache__/
shell.nix

resources/Michalzik-2013-VCSEL Fundamentals.pdf
resources/Li_Hui.pdf
resources/Mutig-2011-High Speed VCSELs for Optical Inter.pdf
resources/sparams.pdf
