numpy
pandas
scipy
scikit-learn
scikit-rf
matplotlib
seaborn
pyvisa
pyvisa-py
# pyusb
# pyserial
# psutil
# zeroconf
pyfiglet
rich
termcolor
click
icecream
setuptools
pyyaml
pythonnet
# pysmithplot-fork
